<div class='container'>
    <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <h1>Eat Da Burger!</h1>
        <img src='assets/img/VeggieBurger.png' id='bubber'>
    </div>
    <div class='col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 column'>
      <ul>
        {{#each burgers}}
        <li>
          {{#unless devoured}}
            {{this.id}}. {{this.burger_name}} 	
            <button class="devour btn btn-warning btn-sm" data-id="{{this.id}}">
              Devour
            </button>
          {{/unless}}
        </li>
        {{/each}}
      </ul>
    </div>

    <div class='col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12'>
      
      <form class="create-form">
          <div class="form-group">
            <input type="text" id="burger-name" name="name">
          </div>
        <button type="submit" id='add-burger' class='btn btn-warning btn-lg btn-block'>Submit</button>
      </form>
      
      <h3>Add your own burger!</h3>
    </div>
    <div class='col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 column'>
        <ul>
          {{#each burgers}}
            <li>
              {{#if devoured}}
                {{this.id}}. {{this.burger_name}}
              {{/if}}
            </li>
          {{/each}}
        </ul>
    </div>
</div>
<script>
  $(document).ready(function() {
    // on click event 
    $("#add-burger").on("click", function(event) {
        event.preventDefault();
        // creating new burger object
        var burger = {
            burger_name: $("#burger-name").val().trim()
        };
        
        // POST request
        $.ajax("/api/burger", {
        type: "POST",
        data: burger
        }).then(function() {
          // reload page
          location.reload();
        }
        );

    });

    $("#bubber").click(function(){
        alert("You have clicked on Bubber.");
    });

    // on click event
    $(".devour").on("click", function(event) {
      // grabbing id of button clicked
      var id = $(this).data("id");
      // creating devoured burger object
      var devouredBurger = {
        id: id
      };

      // send  PUT request
      $.ajax("/api/burger/" + id, {
        type: "PUT",
        data: devouredBurger
      }).then(function() {
          console.log("burger devoured");
          // reload page
          location.reload();
        }
      );
    });
  });
</script>